/*Flair Test*/

a[href="/user/M3ta1d3ath"]:not(.upvoatsGiven)::after {
    color: #0000FF;
    content: " BEARS ";  
}

a[href="/user/BZL"]:not(.upvoatsGiven)::after {
    color: #3300CC;
    content: " Bills Mafia ";  
}

a[href="/user/Tizjon"]:not(.upvoatsGiven)::after {
    color: #B0E0E6;
    content: " Bolts ";  
}

a[href="/user/Echo_of_Savages"]:not(.upvoatsGiven)::after {
    color: #C80000;
    content: " Manning's Left Nut ";  
}

a[href="/user/DishoveledPanda"]:not(.upvoatsGiven)::after {
    color: #000000;
    content: " Keep Pounding ";  
}

a[href="/user/30thirty"]:not(.upvoatsGiven)::after {
    color: #9D9A96;
    content: " FIRE THE CANNONS ";  
}

a[href="/user/hiphopscallion"]:not(.upvoatsGiven)::after {
    color: #003366;
    content: " BeastHawk ";  
}

a[href="/user/longlive289s"]:not(.upvoatsGiven)::after {
    color: #003366;
    content: " BamBamKam ";  
}

a[href="/user/wal8998"]:not(.upvoatsGiven)::after {
    color: #680000;
    content: " FUCK THE COWBOYS ";  
}

a[href="/user/Vxmonarkxv"]:not(.upvoatsGiven)::after {
    color: #B00000;
    content: " FUCK THE SAINTS ";  
}

a[href="/user/einRabe"]:not(.upvoatsGiven)::after {
    color: #660099;
    content: " Ravens Deutschland ";  
}

a[href="/user/RAFFISH"]:not(.upvoatsGiven)::after {
    color: #000000;
    content: " Raider Nation ";  
}

a[href="/user/CorporalClegg"]:not(.upvoatsGiven)::after {
    color: #C0C0C0;
    content: " Just Win, Baby ";  
}

a[href="/user/Count_Long_Dong"]:not(.upvoatsGiven)::after {
    color: #000066;
    content: " Dez Caught It ";  
}

a[href="/user/GMFP"]:not(.upvoatsGiven)::after {
    color: #000066;
    content: " Romosexual ";  
}

a[href="/user/Darren357"]:not(.upvoatsGiven)::after {
    color: #3399FF;
    content: " Complete The Process ";  
}

a[href="/user/Random908"]:not(.upvoatsGiven)::after {
    color: #FF0000;
    content: " ANDREW'S HOME TOWN ";  
}

a[href="/user/PntBtr"]:not(.upvoatsGiven)::after {
    color: #006600;
    content: " The Bears Still Suck ";  
}

a[href="/user/throwsheavythings"]:not(.upvoatsGiven)::after {
    color: #CC9900;
    content: " HERE WE GO ";  
}

a[href="/user/twohatchetmuse"]:not(.upvoatsGiven)::after {
    color: #CC9900;
    content: " Who Dat ";  
}

a[href="/user/wood"]:not(.upvoatsGiven)::after {
    color: #CC9900;
    content: " Saints ";  
}

a[href="/user/AnimalMother_"]:not(.upvoatsGiven)::after {
    color: #000000;
    content: " Raiders ";  
}

a[href="/user/Alabaster_Jones"]:not(.upvoatsGiven)::after {
    color: #FFA500;
    content: " SMOKIN' JAYS ";  
}

a[href="/user/DEKENv2"]:not(.upvoatsGiven)::after {
    color: #C80000;
    content: " RISE UP RED SEA ";  
}

a[href="/user/Rommel79"]:not(.upvoatsGiven)::after {
    color: #000066;
    content: " Cowboys ";  
}

a[href="/user/FlintEastwood"]:not(.upvoatsGiven)::after {
    color: #FF4500;
    content: " BERHKNEE KROSNAR ";  
}

a[href="/user/TheTate"]:not(.upvoatsGiven)::after {
    color: #FF4500;
    content: " Broncos ";  
}

a[href="/user/JamesGatz"]:not(.upvoatsGiven)::after {
    color: #FF4500;
    content: " Broncos ";  
}

a[href="/user/CaptainSweater"]:not(.upvoatsGiven)::after {
    color: #FF4500;
    content: " Token Brown....s Fan ";  
}

a[href="/user/hayf28"]:not(.upvoatsGiven)::after {
    color: #FF6600;
    content: " Bengals ";  
}

a[href="/user/bobthetitanic"]:not(.upvoatsGiven)::after {
    color: #C80000;
    content: " Tampa Bay Buccaneers ";  
}

a[href="/user/mayonuki"]:not(.upvoatsGiven)::after {
    color: #8A2BE2;
    content: " SKOL ";  
}

a[href="/user/arrogant_bastard"]:not(.upvoatsGiven)::after {
    color: #8A2BE2;
    content: " Teddy Throwsevelt ";  
}

a[href="/user/Green_Bay_Packers"]:not(.upvoatsGiven)::after {
    color: #006600;
    content: " Fuck The Bears ";  
}

a[href="/user/Laschoni"]:not(.upvoatsGiven)::after {
    color: #006600;
    content: " Packers ";  
}

a[href="/user/Iceman"]:not(.upvoatsGiven)::after {
    color: #006600;
    content: " Green Bay Packers ";  
}

a[href="/user/Tappan_Zee"]:not(.upvoatsGiven)::after {
    color: #006600;
    content: " Green Bay Packers ";  
}

a[href="/user/M3nt0R"]:not(.upvoatsGiven)::after {
    color: #006600;
    content: " New York Jets ";  
}

a[href="/user/waffle"]:not(.upvoatsGiven)::after {
    color: #33FF00;
    content: " Seahawks ";  
}

a[href="/user/frankdatank"]:not(.upvoatsGiven)::after {
    color: #000066;
    content: " Undefeated at Levi's - Rams ";  
}

a[href="/user/BilboNaggins"]:not(.upvoatsGiven)::after {
    color: #000066;
    content: " Rams ";  
}

a[href="/user/BobTheTomato"]:not(.upvoatsGiven)::after {
    color: #003399;
    content: " All you need is Luck! ";  
}

a[href="/user/TurtleFucker"]:not(.upvoatsGiven)::after {
    color: #003399;
    content: " BEAR DOWN! ";  
}

a[href="/user/VapePhantom"]:not(.upvoatsGiven)::after {
    color: #680000;
    content: " Falcons ";  
}

a[href="/user/boticus_prime"]:not(.upvoatsGiven)::after {
    color: #0000CC;
    content: " Circle the Wagons ";  
}

a[href="/user/goddamn_ batman"]:not(.upvoatsGiven)::after {
    color: #0000FF;
    content: " Giants ";  
}

a[href="/user/HenryC"]:not(.upvoatsGiven)::after {
    color: #006600;
    content: " Fly, Eagles Fly ";  
}

a[href="/user/russizm"]:not(.upvoatsGiven)::after {
    color: #006600;
    content: " In Chip We Trust ";  
}

/* ==== Start image flair ==== */
a[href="/user/SoupTyrant"]:not(.upvoatsGiven)::after,
a[href="/user/ShagginTurtles"]:not(.upvoatsGiven)::after,
a[href="/user/l-emmerdeur"]:not(.upvoatsGiven)::after,
a[href="/user/TwentySeven"]:not(.upvoatsGiven)::after,
a[href="/user/Elway_Be_Thy_Name"]:not(.upvoatsGiven)::after,
a[href="/user/methodamericon"]:not(.upvoatsGiven)::after,
a[href="/user/Billswinthesuperbowl"]:not(.upvoatsGiven)::after,
a[href="/user/The_Ugliest_Man_Ever"]:not(.upvoatsGiven)::after,
a[href="/user/myth2sbr"]:not(.upvoatsGiven)::after,
a[href="/user/KoalaEater"]:not(.upvoatsGiven)::after,
a[href="/user/BloodPool"]:not(.upvoatsGiven)::after,
a[href="/user/jard"]:not(.upvoatsGiven)::after,
a[href="/user/JoeMomma8008"]:not(.upvoatsGiven)::after,
a[href="/user/MvrnShkr"]:not(.upvoatsGiven)::after,
a[href="/user/ILikeMyDogNotYours"]:not(.upvoatsGiven)::after,
a[href="/user/BeeboBaggins"]:not(.upvoatsGiven)::after,
a[href="/user/Wookie_Goldberg"]:not(.upvoatsGiven)::after,
a[href="/user/highstakes23"]:not(.upvoatsGiven)::after,
a[href="/user/RevolverOcelot"]:not(.upvoatsGiven)::after,
a[href="/user/Record307"]:not(.upvoatsGiven)::after,
a[href="/user/Say_What"]:not(.upvoatsGiven)::after,
a[href="/user/BANGcake"]:not(.upvoatsGiven)::after,
a[href="/user/ThatsMyGimmick"]:not(.upvoatsGiven)::after,
a[href="/user/Bu11DawgNC"]:not(.upvoatsGiven)::after,
a[href="/user/I_miss_Digg"]:not(.upvoatsGiven)::after,
a[href="/user/ThatsMyGimmick"]:not(.upvoatsGiven)::after,
a[href="/user/FullyBespokedTomato"]:not(.upvoatsGiven)::after,
a[href="/user/MikeTysonChicken"]:not(.upvoatsGiven)::after,
a[href="/user/CONGLOM-O"]:not(.upvoatsGiven)::after,
a[href="/user/LanceArmstrong"]:not(.upvoatsGiven)::after,
a[href="/user/rocketbrainsurgeon"]:not(.upvoatsGiven)::after,
a[href="/user/Sinz226"]:not(.upvoatsGiven)::after,
a[href="/user/CaptainHadley"]:not(.upvoatsGiven)::after,
a[href="/user/WAVAW"]:not(.upvoatsGiven)::after,
a[href="/user/TisTheJMan"]:not(.upvoatsGiven)::after,
a[href="/user/donkeyqong"]:not(.upvoatsGiven)::after,
a[href="/user/dolphone"]:not(.upvoatsGiven)::after,
a[href="/user/attackontitian"]:not(.upvoatsGiven)::after,
a[href="/user/bonuspad"]:not(.upvoatsGiven)::after,
a[href="/user/JesTheRed"]:not(.upvoatsGiven)::after,
a[href="/user/Steebee"]:not(.upvoatsGiven)::after,
a[href="/user/ILoveSeaFood"]:not(.upvoatsGiven)::after,
a[href="/user/ConfidentBlackman"]:not(.upvoatsGiven)::after,
a[href="/user/LordVaderKush"]:not(.upvoatsGiven)::after,
a[href="/user/hoodclown"]:not(.upvoatsGiven)::after,
a[href="/user/18andover"]:not(.upvoatsGiven)::after,
a[href="/user/XDingoX83"]:not(.upvoatsGiven)::after,
a[href="/user/Danisanub"]:not(.upvoatsGiven)::after,
a[href="/user/Karkrash66"]:not(.upvoatsGiven)::after,
a[href="/user/bombdiggity"]:not(.upvoatsGiven)::after,
a[href="/user/gman311"]:not(.upvoatsGiven)::after,
a[href="/user/Infa"]:not(.upvoatsGiven)::after,
a[href="/user/uncletootie"]:not(.upvoatsGiven)::after,
a[href="/user/sargent"]:not(.upvoatsGiven)::after,
a[href="/user/bluestarbass"]:not(.upvoatsGiven)::after,
a[href="/user/Scootaloo"]:not(.upvoatsGiven)::after,
a[href="/user/Gill6150"]:not(.upvoatsGiven)::after,
a[href="/user/zambeezy"]:not(.upvoatsGiven)::after,
a[href="/user/marvin_nash"]:not(.upvoatsGiven)::after,
a[href="/user/crustydouchejuice"]:not(.upvoatsGiven)::after,
a[href="/user/illwill"]:not(.upvoatsGiven)::after,
a[href="/user/Engineered_To_Fail"]:not(.upvoatsGiven)::after,
a[href="/user/JohnDRuckerduck"]:not(.upvoatsGiven)::after,
a[href="/user/Nickthegreat"]:not(.upvoatsGiven)::after,
a[href="/user/matap821"]:not(.upvoatsGiven)::after,
a[href="/user/Deadmeat"]:not(.upvoatsGiven)::after,
a[href="/user/pobodysnerfect"]:not(.upvoatsGiven)::after,
a[href="/user/pequenopete"]:not(.upvoatsGiven)::after,
a[href="/user/ColombianHugLord"]:not(.upvoatsGiven)::after,
a[href="/user/2dlapse"]:not(.upvoatsGiven)::after,
a[href="/user/Revelation6VIII"]:not(.upvoatsGiven)::after,
a[href="/user/The_Dallas_Cowboys"]:not(.upvoatsGiven)::after,
a[href="/user/yourz3ro"]:not(.upvoatsGiven)::after,
a[href="/user/catfishman"]:not(.upvoatsGiven)::after,
a[href="/user/Reyler"]:not(.upvoatsGiven)::after,
a[href="/user/doctorshlomo"]:not(.upvoatsGiven)::after,
a[href="/user/yeediddy"]:not(.upvoatsGiven)::after,
a[href="/user/RockefellerSteel"]:not(.upvoatsGiven)::after,
a[href="/user/ji"]:not(.upvoatsGiven)::after,
a[href="/user/zoi"]:not(.upvoatsGiven)::after,
a[href="/user/iAMtheBelvedere"]:not(.upvoatsGiven)::after,
a[href="/user/TheStonerOne"]:not(.upvoatsGiven)::after,
a[href="/user/redditbelowsme"]:not(.upvoatsGiven)::after,
a[href="/user/cranberrysaus"]:not(.upvoatsGiven)::after,
a[href="/user/shamari"]:not(.upvoatsGiven)::after,
a[href="/user/BroadwayHoe"]:not(.upvoatsGiven)::after,
a[href="/user/gatordontplaythatsht"]:not(.upvoatsGiven)::after,
a[href="/user/Sergeant_Slate"]:not(.upvoatsGiven)::after,
a[href="/user/Reginaphin"]:not(.upvoatsGiven)::after,
a[href="/user/st3"]:not(.upvoatsGiven)::after,
a[href="/user/Grunge"]:not(.upvoatsGiven)::after,
a[href="/user/cthulhu_stories"]:not(.upvoatsGiven)::after,
a[href="/user/776et"]:not(.upvoatsGiven)::after,
a[href="/user/Give_me_helmet"]:not(.upvoatsGiven)::after,
a[href="/user/brownsugarysphinx"]:not(.upvoatsGiven)::after,
a[href="/user/Lejault"]:not(.upvoatsGiven)::after,
a[href="/user/ratherfashingf11"]:not(.upvoatsGiven)::after,
a[href="/user/sergeant_skip"]:not(.upvoatsGiven)::after,
a[href="/user/Spectre42"]:not(.upvoatsGiven)::after,
a[href="/user/TurboNeger"]:not(.upvoatsGiven)::after,
a[href="/user/zebrasaurous"]:not(.upvoatsGiven)::after,
a[href="/user/jmoney"]:not(.upvoatsGiven)::after,
a[href="/user/TheViper"]:not(.upvoatsGiven)::after,
a[href="/user/mythreedroogs"]:not(.upvoatsGiven)::after,
a[href="/user/NateThomas1979"]:not(.upvoatsGiven)::after,
a[href="/user/BlackstaffMacCleod"]:not(.upvoatsGiven)::after,
a[href="/user/eulogyjones"]:not(.upvoatsGiven)::after,
a[href="/user/geekcj"]:not(.upvoatsGiven)::after,
a[href="/user/Drathdon"]:not(.upvoatsGiven)::after,
a[href="/user/onesidedsquare"]:not(.upvoatsGiven)::after,
a[href="/user/chubnubbin"]:not(.upvoatsGiven)::after,
a[href="/user/BlastedToMoosh"]:not(.upvoatsGiven)::after,
a[href="/user/Linked_List27"]:not(.upvoatsGiven)::after,
a[href="/user/LatinSonic"]:not(.upvoatsGiven)::after,
a[href="/user/fricknmaniac"]:not(.upvoatsGiven)::after,
a[href="/user/AcidicVagina"]:not(.upvoatsGiven)::after,
a[href="/user/mikemountain"]:not(.upvoatsGiven)::after,
a[href="/user/joelv"]:not(.upvoatsGiven)::after,
a[href="/user/meatballsacrifice"]:not(.upvoatsGiven)::after,
a[href="/user/SemiNormal"]:not(.upvoatsGiven)::after,
a[href="/user/rco"]:not(.upvoatsGiven)::after,
a[href="/user/Chiefpacman"]:not(.upvoatsGiven)::after,
a[href="/user/AWolf"]:not(.upvoatsGiven)::after,
a[href="/user/chryco4"]:not(.upvoatsGiven)::after,
a[href="/user/Magnificent_Mayo"]:not(.upvoatsGiven)::after,
a[href="/user/Calzone"]:not(.upvoatsGiven)::after,
a[href="/user/wilfra"]:not(.upvoatsGiven)::after,
a[href="/user/bassman1805"]:not(.upvoatsGiven)::after,
a[href="/user/Evarigan"]:not(.upvoatsGiven)::after,
a[href="/user/ElNino"]:not(.upvoatsGiven)::after,
a[href="/user/loltidderkcuf"]:not(.upvoatsGiven)::after,
a[href="/user/NFL_Mod"]:not(.upvoatsGiven)::after,
a[href="/user/relevantseinfeldlink"]:not(.upvoatsGiven)::after,
a[href="/user/JuliusSeizure"]:not(.upvoatsGiven)::after,
a[href="/user/lobsterxcore"]:not(.upvoatsGiven)::after,
a[href="/user/twinkletoes3488"]:not(.upvoatsGiven)::after,
a[href="/user/Posty"]:not(.upvoatsGiven)::after,
a[href="/user/BobbySippioAfricanus"]:not(.upvoatsGiven)::after,
a[href="/user/NOTTHEBEES"]:not(.upvoatsGiven)::after,
a[href="/user/uncultured"]:not(.upvoatsGiven)::after,
a[href="/user/wooden_butt_plug"]:not(.upvoatsGiven)::after,
a[href="/user/mark132012"]:not(.upvoatsGiven)::after,
a[href="/user/TheodoreKent"]:not(.upvoatsGiven)::after,
a[href="/user/Ottoman"]:not(.upvoatsGiven)::after,
a[href="/user/Apocalyptical"]:not(.upvoatsGiven)::after,
a[href="/user/SpatulaEvolved"]:not(.upvoatsGiven)::after,
a[href="/user/Rommel79"]:not(.upvoatsGiven)::after,
a[href="/user/SlothmanTheHero"]:not(.upvoatsGiven)::after,
a[href="/user/Rigoleto"]:not(.upvoatsGiven)::after,
a[href="/user/Zoomski"]:not(.upvoatsGiven)::after,
a[href="/user/Zalincognito"]:not(.upvoatsGiven)::after,
a[href="/user/Amnesiablo"]:not(.upvoatsGiven)::after,
a[href="/user/briguy24"]:not(.upvoatsGiven)::after,
a[href="/user/Shoma"]:not(.upvoatsGiven)::after,
a[href="/user/MuricanDream"]:not(.upvoatsGiven)::after,
a[href="/user/easylistening"]:not(.upvoatsGiven)::after,
a[href="/user/Color09"]:not(.upvoatsGiven)::after,
a[href="/user/tnuts420"]:not(.upvoatsGiven)::after,
a[href="/user/turtle_comet"]:not(.upvoatsGiven)::after,
a[href="/user/Santiago"]:not(.upvoatsGiven)::after,
a[href="/user/dukeOvandals"]:not(.upvoatsGiven)::after,
a[href="/user/Scarr"]:not(.upvoatsGiven)::after,
a[href="/user/JUST_ANOTHER_NOBODY"]:not(.upvoatsGiven)::after,
a[href="/user/cAMP"]:not(.upvoatsGiven)::after,
a[href="/user/RJKH"]:not(.upvoatsGiven)::after,
a[href="/user/Antipilor"]:not(.upvoatsGiven)::after,
a[href="/user/JaguarGator9"]:not(.upvoatsGiven)::after,
a[href="/user/unsatisfying"]:not(.upvoatsGiven)::after,
a[href="/user/oglach"]:not(.upvoatsGiven)::after,
a[href="/user/UndeadBelaLugosi"]:not(.upvoatsGiven)::after,
a[href="/user/HankRHill"]:not(.upvoatsGiven)::after,
a[href="/user/Tenayden"]:not(.upvoatsGiven)::after,
a[href="/user/Were"]:not(.upvoatsGiven)::after,
a[href="/user/Bolt"]:not(.upvoatsGiven)::after,
a[href="/user/higgity_goo"]:not(.upvoatsGiven)::after,
a[href="/user/NapoleonComplex"]:not(.upvoatsGiven)::after,
a[href="/user/no0bix"]:not(.upvoatsGiven)::after,
a[href="/user/Captiantaco"]:not(.upvoatsGiven)::after,
a[href="/user/myopinionsdontmatter"]:not(.upvoatsGiven)::after,
a[href="/user/audiogarden"]:not(.upvoatsGiven)::after,
a[href="/user/Tigers_Wood"]:not(.upvoatsGiven)::after,
a[href="/user/aloe-ha"]:not(.upvoatsGiven)::after,
a[href="/user/MyNameIsDrew"]:not(.upvoatsGiven)::after,
a[href="/user/No_Song_Orpheus"]:not(.upvoatsGiven)::after,
a[href="/user/drumphantom"]:not(.upvoatsGiven)::after,
a[href="/user/I_am_the_voat"]:not(.upvoatsGiven)::after,
a[href="/user/Nadrik"]:not(.upvoatsGiven)::after,
a[href="/user/JanZac23"]:not(.upvoatsGiven)::after,
a[href="/user/AlwaysSunnyInSeattle"]:not(.upvoatsGiven)::after,
a[href="/user/TurdFerguson_"]:not(.upvoatsGiven)::after,
a[href="/user/arisoncain"]:not(.upvoatsGiven)::after,
a[href="/user/BecauseImBatman"]:not(.upvoatsGiven)::after,
a[href="/user/porrridge"]:not(.upvoatsGiven)::after,
a[href="/user/Purple_Snowboard_5"]:not(.upvoatsGiven)::after,
a[href="/user/CowboyRob"]:not(.upvoatsGiven)::after,
a[href="/user/mullirific"]:not(.upvoatsGiven)::after,
a[href="/user/Truron"]:not(.upvoatsGiven)::after,
a[href="/user/RobotOverlord"]:not(.upvoatsGiven)::after,
a[href="/user/oaklandraiders"]:not(.upvoatsGiven)::after,
a[href="/user/PanicHouse"]:not(.upvoatsGiven)::after,
a[href="/user/BillThePony"]:not(.upvoatsGiven)::after,
a[href="/user/Codyrl95"]:not(.upvoatsGiven)::after,
a[href="/user/123GoHawks"]:not(.upvoatsGiven)::after,
a[href="/user/Zoo_Pants"]:not(.upvoatsGiven)::after,
a[href="/user/alexn"]:not(.upvoatsGiven)::after,
a[href="/user/Brother_Morphine"]:not(.upvoatsGiven)::after,
a[href="/user/Maui_no_can_aim"]:not(.upvoatsGiven)::after,
a[href="/user/BrickHardCheese"]:not(.upvoatsGiven)::after,
a[href="/user/ReallyGoodUsername"]:not(.upvoatsGiven)::after,
a[href="/user/Launch_"]:not(.upvoatsGiven)::after,
a[href="/user/JohnnyUnitasesHair"]:not(.upvoatsGiven)::after,
a[href="/user/pcguy2"]:not(.upvoatsGiven)::after,
a[href="/user/iSam"]:not(.upvoatsGiven)::after,
a[href="/user/OttoVonBiscuit"]:not(.upvoatsGiven)::after,
a[href="/user/PM_me_your_tacos"]:not(.upvoatsGiven)::after,
a[href="/user/Dorago1991"]:not(.upvoatsGiven)::after,
a[href="/user/ALegendaryFap"]:not(.upvoatsGiven)::after,
a[href="/user/Snydaddy"]:not(.upvoatsGiven)::after,
a[href="/user/chineseguynflnba"]:not(.upvoatsGiven)::after,
a[href="/user/Nautique"]:not(.upvoatsGiven)::after,
a[href="/user/ltmyndonos"]:not(.upvoatsGiven)::after,
a[href="/user/superbeans"]:not(.upvoatsGiven)::after,
a[href="/user/FightingIrish"]:not(.upvoatsGiven)::after,
a[href="/user/hotelbrowanda"]:not(.upvoatsGiven)::after,
a[href="/user/RyanDP"]:not(.upvoatsGiven)::after,
a[href="/user/shreksmum"]:not(.upvoatsGiven)::after,
a[href="/user/CaptNemo131"]:not(.upvoatsGiven)::after,
a[href="/user/ReverieandEnvisage"]:not(.upvoatsGiven)::after,
a[href="/user/hgust"]:not(.upvoatsGiven)::after,
a[href="/user/DankAmerican"]:not(.upvoatsGiven)::after,
a[href="/user/KHthe8th"]:not(.upvoatsGiven)::after,
a[href="/user/Shmauserpops"]:not(.upvoatsGiven)::after,
a[href="/user/DADDYS_DARLING"]:not(.upvoatsGiven)::after,
a[href="/user/Sirpadington"]:not(.upvoatsGiven)::after,
a[href="/user/ABearWithABeer"]:not(.upvoatsGiven)::after,
a[href="/user/BlackBear65"]:not(.upvoatsGiven)::after,
a[href="/user/Geckles"]:not(.upvoatsGiven)::after,
a[href="/user/cinderblock"]:not(.upvoatsGiven)::after,
a[href="/user/dharasick"]:not(.upvoatsGiven)::after,
a[href="/user/usethemath"]:not(.upvoatsGiven)::after,
a[href="/user/Melcher"]:not(.upvoatsGiven)::after,
a[href="/user/JunOS"]:not(.upvoatsGiven)::after,
a[href="/user/Zunox"]:not(.upvoatsGiven)::after,
a[href="/user/catfishjones"]:not(.upvoatsGiven)::after,
a[href="/user/pleasefeedthedino"]:not(.upvoatsGiven)::after,
a[href="/user/mrmeowme0w"]:not(.upvoatsGiven)::after,
a[href="/user/baneofretail"]:not(.upvoatsGiven)::after,
a[href="/user/Gracchi"]:not(.upvoatsGiven)::after,
a[href="/user/Bootsy"]:not(.upvoatsGiven)::after,
a[href="/user/BreesusLovesYou"]:not(.upvoatsGiven)::after,
a[href="/user/NCAA_Fan"]:not(.upvoatsGiven)::after,
a[href="/user/livejamie"]:not(.upvoatsGiven)::after,
a[href="/user/Roland_B_Luntz"]:not(.upvoatsGiven)::after,
a[href="/user/mrmagoo512"]:not(.upvoatsGiven)::after,
a[href="/user/LegoMyEgo"]:not(.upvoatsGiven)::after {
	display: inline-block;				
    content: ""; 
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0px; 
    margin: 0px;  
    margin-left: 5px;
    background-color: transparent; 
    background-image: url("https://i.imgur.com/9AOwAUo.png"); 
    width: 20px; 
    height: 20px;
    vertical-align: middle;
	}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url("http://i.imgur.com/9AOwAUo.png");
		 background-size: 20px 1140px;
	}
}
/* arizona */
a[href="/user/JunOS"]:not(.upvoatsGiven)::after,
a[href="/user/livejamie"]:not(.upvoatsGiven)::after,
a[href="/user/lobsterxcore"]:not(.upvoatsGiven)::after,
a[href="/user/Launch_"]:not(.upvoatsGiven)::after {
	background-position: 0 0;
}
/* atlanta */ 
a[href="/user/Drathdon"]:not(.upvoatsGiven)::after,
a[href="/user/jmoney"]:not(.upvoatsGiven)::after,
a[href="/user/TheViper"]:not(.upvoatsGiven)::after,
a[href="/user/audiogarden"]:not(.upvoatsGiven)::after,
a[href="/user/BrickHardCheese"]:not(.upvoatsGiven)::after {
	background-position: 0 -20px;
}
/* atlanta alt */ {
	background-position: 0 -40px;
}
/* baltimore */
a[href="/user/ConfidentBlackman"]:not(.upvoatsGiven)::after,
a[href="/user/bombdiggity"]:not(.upvoatsGiven)::after,
a[href="/user/sergeant_skip"]:not(.upvoatsGiven)::after,
a[href="/user/fricknmaniac"]:not(.upvoatsGiven)::after,
a[href="/user/briguy24"]:not(.upvoatsGiven)::after,
a[href="/user/No_Song_Orpheus"]:not(.upvoatsGiven)::after,
a[href="/user/Nadrik"]:not(.upvoatsGiven)::after {
	background-position: 0 -60px;
}
/* baltimore alt */
a[href="/user/Snydaddy"]:not(.upvoatsGiven)::after {
	background-position: 0 -80px;
}
/* buffalo */
a[href="/user/XDingoX83"]:not(.upvoatsGiven)::after,
a[href="/user/geekcj"]:not(.upvoatsGiven)::after,
a[href="/user/higgity_goo"]:not(.upvoatsGiven)::after,
a[href="/user/Billswinthesuperbowl"]:not(.upvoatsGiven)::after,
a[href="/user/Dorago1991"]:not(.upvoatsGiven)::after {
	background-position: 0 -100px;
}
/* carolina */
a[href="/user/ILikeMyDogNotYours"]:not(.upvoatsGiven)::after,
a[href="/user/onesidedsquare"]:not(.upvoatsGiven)::after,
a[href="/user/Say_What"]:not(.upvoatsGiven)::after,
a[href="/user/I_am_the_voat"]:not(.upvoatsGiven)::after {
	background-position: 0 -120px;
}
/* chicago */
a[href="/user/ShagginTurtles"]:not(.upvoatsGiven)::after,
a[href="/user/LordVaderKush"]:not(.upvoatsGiven)::after,
a[href="/user/iAMtheBelvedere"]:not(.upvoatsGiven)::after,
a[href="/user/TheStonerOne"]:not(.upvoatsGiven)::after,
a[href="/user/st3"]:not(.upvoatsGiven)::after,
a[href="/user/776et"]:not(.upvoatsGiven)::after,
a[href="/user/HankRHill"]:not(.upvoatsGiven)::after,
a[href="/user/superbeans"]:not(.upvoatsGiven)::after {
	background-position: 0 -140px;
}
/* chicago alt */
a[href="/user/Zunox"]:not(.upvoatsGiven)::after {
	background-position: 0 -160px;
}
/* cincinnati */
a[href="/user/RJKH"]:not(.upvoatsGiven)::after,
a[href="/user/Scarr"]:not(.upvoatsGiven)::after,
a[href="/user/RyanDP"]:not(.upvoatsGiven)::after,
a[href="/user/CaptNemo131"]:not(.upvoatsGiven)::after {
	background-position: 0 -180px;
}
/* cincinnati alt */
a[href="/user/catfishjones"]:not(.upvoatsGiven)::after {
	background-position: 0 -200px;
}
/* cleveland */
a[href="/user/Wookie_Goldberg"]:not(.upvoatsGiven)::after,
a[href="/user/crustydouchejuice"]:not(.upvoatsGiven)::after,
a[href="/user/ColombianHugLord"]:not(.upvoatsGiven)::after,
a[href="/user/Brother_Morphine"]:not(.upvoatsGiven)::after {
	background-position: 0 -220px;
}
/* cleveland alt */ {
	background-position: 0 -240px;
}
/* cleveland3 */ {
	background-position: 0 -260px;
}
/* dallas */
a[href="/user/l-emmerdeur"]:not(.upvoatsGiven)::after,
a[href="/user/Bootsy"]:not(.upvoatsGiven)::after,
a[href="/user/CaptainHadley"]:not(.upvoatsGiven)::after,
a[href="/user/Gracchi"]:not(.upvoatsGiven)::after,
a[href="/user/bonuspad"]:not(.upvoatsGiven)::after,
a[href="/user/JesTheRed"]:not(.upvoatsGiven)::after,
a[href="/user/The_Dallas_Cowboys"]:not(.upvoatsGiven)::after,
a[href="/user/gatordontplaythatsht"]:not(.upvoatsGiven)::after,
a[href="/user/eulogyjones"]:not(.upvoatsGiven)::after,
a[href="/user/LatinSonic"]:not(.upvoatsGiven)::after,
a[href="/user/twinkletoes3488"]:not(.upvoatsGiven)::after,
a[href="/user/Rommel79"]:not(.upvoatsGiven)::after,
a[href="/user/Shoma"]:not(.upvoatsGiven)::after,
a[href="/user/CowboyRob"]:not(.upvoatsGiven)::after,
a[href="/user/PanicHouse"]:not(.upvoatsGiven)::after,
a[href="/user/FightingIrish"]:not(.upvoatsGiven)::after,
a[href="/user/Geckles"]:not(.upvoatsGiven)::after,
a[href="/user/Chiefpacman"]:not(.upvoatsGiven)::after,
a[href="/user/cinderblock"]:not(.upvoatsGiven)::after,
a[href="/user/LegoMyEgo"]:not(.upvoatsGiven)::after {
	background-position: 0 -280px;
}
/* denver */
a[href="/user/Elway_Be_Thy_Name"]:not(.upvoatsGiven)::after,
a[href="/user/Gill6150"]:not(.upvoatsGiven)::after,
a[href="/user/illwill"]:not(.upvoatsGiven)::after,
a[href="/user/bassman1805"]:not(.upvoatsGiven)::after,
a[href="/user/Captiantaco"]:not(.upvoatsGiven)::after,
a[href="/user/loltidderkcuf"]:not(.upvoatsGiven)::after,
a[href="/user/JanZac23"]:not(.upvoatsGiven)::after,
a[href="/user/alexn"]:not(.upvoatsGiven)::after,
a[href="/user/JohnnyUnitasesHair"]:not(.upvoatsGiven)::after,
a[href="/user/OttoVonBiscuit"]:not(.upvoatsGiven)::after,
a[href="/user/PM_me_your_tacos"]:not(.upvoatsGiven)::after,
a[href="/user/DankAmerican"]:not(.upvoatsGiven)::after {
	background-position: 0 -300px;
}
/* denver alt */ {
	background-position: 0 -320px;
}
/* detroit */
a[href="/user/Roland_B_Luntz"]:not(.upvoatsGiven)::after,
a[href="/user/RevolverOcelot"]:not(.upvoatsGiven)::after,
a[href="/user/Bu11DawgNC"]:not(.upvoatsGiven)::after,
a[href="/user/Apocalyptical"]:not(.upvoatsGiven)::after,
a[href="/user/easylistening"]:not(.upvoatsGiven)::after,
a[href="/user/tnuts420"]:not(.upvoatsGiven)::after,
a[href="/user/RobotOverlord"]:not(.upvoatsGiven)::after {
	background-position: 0 -340px;
}
/* greenbay */
a[href="/user/SoupTyrant"]:not(.upvoatsGiven)::after,
a[href="/user/The_Ugliest_Man_Ever"]:not(.upvoatsGiven)::after,
a[href="/user/SemiNormal"]:not(.upvoatsGiven)::after,
a[href="/user/ThatsMyGimmick"]:not(.upvoatsGiven)::after,
a[href="/user/sargent"]:not(.upvoatsGiven)::after,
a[href="/user/yourz3ro"]:not(.upvoatsGiven)::after,
a[href="/user/Reyler"]:not(.upvoatsGiven)::after,
a[href="/user/BlackBear65"]:not(.upvoatsGiven)::after,
a[href="/user/mythreedroogs"]:not(.upvoatsGiven)::after,
a[href="/user/ElNino"]:not(.upvoatsGiven)::after,
a[href="/user/Posty"]:not(.upvoatsGiven)::after,
a[href="/user/SlothmanTheHero"]:not(.upvoatsGiven)::after,
a[href="/user/cAMP"]:not(.upvoatsGiven)::after,
a[href="/user/Antipilor"]:not(.upvoatsGiven)::after,
a[href="/user/Were"]:not(.upvoatsGiven)::after,
a[href="/user/MyNameIsDrew"]:not(.upvoatsGiven)::after,
a[href="/user/BecauseImBatman"]:not(.upvoatsGiven)::after,
a[href="/user/mullirific"]:not(.upvoatsGiven)::after,
a[href="/user/ReverieandEnvisage"]:not(.upvoatsGiven)::after,
a[href="/user/BillThePony"]:not(.upvoatsGiven)::after,
a[href="/user/Zoo_Pants"]:not(.upvoatsGiven)::after,
a[href="/user/DADDYS_DARLING"]:not(.upvoatsGiven)::after,
a[href="/user/Shmauserpops"]:not(.upvoatsGiven)::after {
	background-position: 0 -360px;
}
/* houston */
a[href="/user/TurboNeger"]:not(.upvoatsGiven)::after,
a[href="/user/Linked_List27"]:not(.upvoatsGiven)::after,
a[href="/user/chryco4"]:not(.upvoatsGiven)::after,
a[href="/user/Magnificent_Mayo"]:not(.upvoatsGiven)::after,
a[href="/user/usethemath"]:not(.upvoatsGiven)::after,
a[href="/user/Sirpadington"]:not(.upvoatsGiven)::after {
	background-position: 0 -380px;
}
/* indy */
a[href="/user/shreksmum"]:not(.upvoatsGiven)::after,
a[href="/user/LanceArmstrong"]:not(.upvoatsGiven)::after,
a[href="/user/Sinz226"]:not(.upvoatsGiven)::after,
a[href="/user/attackontitian"]:not(.upvoatsGiven)::after,
a[href="/user/Infa"]:not(.upvoatsGiven)::after,
a[href="/user/bluestarbass"]:not(.upvoatsGiven)::after,
a[href="/user/AWolf"]:not(.upvoatsGiven)::after,
a[href="/user/NateThomas1979"]:not(.upvoatsGiven)::after,
a[href="/user/wooden_butt_plug"]:not(.upvoatsGiven)::after,
a[href="/user/no0bix"]:not(.upvoatsGiven)::after {
	background-position: 0 -400px;
}
/* indy alt */ {
	background-position: 0 -420px;
}
/* jacksonville */
a[href="/user/Rigoleto"]:not(.upvoatsGiven)::after,
a[href="/user/JaguarGator9"]:not(.upvoatsGiven)::after {
	background-position: 0 -440px;
}
/* jacksonville alt */ {
	background-position: 0 -460px;
}
/* kansascity */
a[href="/user/Grunge"]:not(.upvoatsGiven)::after,
a[href="/user/ALegendaryFap"]:not(.upvoatsGiven)::after {
	background-position: 0 -480px;
}
/* miami */
a[href="/user/FullyBespokedTomato"]:not(.upvoatsGiven)::after,
a[href="/user/dolphone"]:not(.upvoatsGiven)::after,
a[href="/user/Scootaloo"]:not(.upvoatsGiven)::after,
a[href="/user/Reginaphin"]:not(.upvoatsGiven)::after,
a[href="/user/uncultured"]:not(.upvoatsGiven)::after {
	background-position: 0 -500px;
}
/* miami alt */
a[href="/user/zoi"]:not(.upvoatsGiven)::after {
	background-position: 0 -520px;
}
/* minnesota */
a[href="/user/methodamericon"]:not(.upvoatsGiven)::after,
a[href="/user/KoalaEater"]:not(.upvoatsGiven)::after,
a[href="/user/BeeboBaggins"]:not(.upvoatsGiven)::after,
a[href="/user/rocketbrainsurgeon"]:not(.upvoatsGiven)::after,
a[href="/user/donkeyqong"]:not(.upvoatsGiven)::after,
a[href="/user/Nickthegreat"]:not(.upvoatsGiven)::after,
a[href="/user/pobodysnerfect"]:not(.upvoatsGiven)::after,
a[href="/user/Sergeant_Slate"]:not(.upvoatsGiven)::after,
a[href="/user/arisoncain"]:not(.upvoatsGiven)::after,
a[href="/user/Purple_Snowboard_5"]:not(.upvoatsGiven)::after,
a[href="/user/pcguy2"]:not(.upvoatsGiven)::after,
a[href="/user/ReallyGoodUsername"]:not(.upvoatsGiven)::after,
a[href="/user/baneofretail"]:not(.upvoatsGiven)::after,
a[href="/user/mrmeowme0w"]:not(.upvoatsGiven)::after {
	background-position: 0 -540px;
}
/* newengland */
a[href="/user/highstakes23"]:not(.upvoatsGiven)::after,
a[href="/user/Melcher"]:not(.upvoatsGiven)::after,
a[href="/user/Give_me_helmet"]:not(.upvoatsGiven)::after,
a[href="/user/Lejault"]:not(.upvoatsGiven)::after,
a[href="/user/mikemountain"]:not(.upvoatsGiven)::after,
a[href="/user/BobbySippioAfricanus"]:not(.upvoatsGiven)::after,
a[href="/user/SpatulaEvolved"]:not(.upvoatsGiven)::after,
a[href="/user/MuricanDream"]:not(.upvoatsGiven)::after,
a[href="/user/Tigers_Wood"]:not(.upvoatsGiven)::after,
a[href="/user/drumphantom"]:not(.upvoatsGiven)::after,
a[href="/user/TurdFerguson_"]:not(.upvoatsGiven)::after,
a[href="/user/porrridge"]:not(.upvoatsGiven)::after,
a[href="/user/Nautique"]:not(.upvoatsGiven)::after,

a[href="/user/ABearWithABeer"]:not(.upvoatsGiven)::after {
	background-position: 0 -560px;
}
/* newengland alt */
a[href="/user/TwentySeven"]:not(.upvoatsGiven)::after,
a[href="/user/Karkrash66"]:not(.upvoatsGiven)::after,
a[href="/user/dukeOvandals"]:not(.upvoatsGiven)::after, 
a[href="/user/relevantseinfeldlink"]:not(.upvoatsGiven)::after,
a[href="/user/JuliusSeizure"]:not(.upvoatsGiven)::after {
	background-position: 0 -580px;
}
/* neworleans */
a[href="/user/BreesusLovesYou"]:not(.upvoatsGiven)::after,
a[href="/user/NCAA_Fan"]:not(.upvoatsGiven)::after,
a[href="/user/ji"]:not(.upvoatsGiven)::after,
a[href="/user/chubnubbin"]:not(.upvoatsGiven)::after,
a[href="/user/JUST_ANOTHER_NOBODY"]:not(.upvoatsGiven)::after,
a[href="/user/chineseguynflnba"]:not(.upvoatsGiven)::after,
a[href="/user/hgust"]:not(.upvoatsGiven)::after {
	background-position: 0 -600px;
}
/* newyorkgiants alt */ {
	background-position: 0 -620px;
}
/* newyorkgiants blue */
a[href="/user/mrmagoo512"]:not(.upvoatsGiven)::after,
a[href="/user/ILoveSeaFood"]:not(.upvoatsGiven)::after,
a[href="/user/cthulhu_stories"]:not(.upvoatsGiven)::after,
a[href="/user/rco"]:not(.upvoatsGiven)::after,
a[href="/user/Color09"]:not(.upvoatsGiven)::after,
a[href="/user/unsatisfying"]:not(.upvoatsGiven)::after,
a[href="/user/UndeadBelaLugosi"]:not(.upvoatsGiven)::after,
a[href="/user/NapoleonComplex"]:not(.upvoatsGiven)::after {
	background-position: 0 -640px;
}
/* newyorkgiants white */ {
	background-position: 0 -660px;
}
/* newyorkjets */
a[href="/user/JoeMomma8008"]:not(.upvoatsGiven)::after,
a[href="/user/matap821"]:not(.upvoatsGiven)::after,
a[href="/user/RockefellerSteel"]:not(.upvoatsGiven)::after,
a[href="/user/BroadwayHoe"]:not(.upvoatsGiven)::after,
a[href="/user/Calzone"]:not(.upvoatsGiven)::after,
a[href="/user/Ottoman"]:not(.upvoatsGiven)::after {
	background-position: 0 -680px;
}
/* newyorkjets alt */
a[href="/user/myth2sbr"]:not(.upvoatsGiven)::after {
	background-position: 0 -700px;
}
/* oakland */
a[href="/user/oaklandraiders"]:not(.upvoatsGiven)::after {
	background-position: 0 -720px;
}
/* philadelphia */
a[href="/user/ltmyndonos"]:not(.upvoatsGiven)::after,
a[href="/user/MikeTysonChicken"]:not(.upvoatsGiven)::after,
a[href="/user/Danisanub"]:not(.upvoatsGiven)::after,
a[href="/user/JohnDRuckerduck"]:not(.upvoatsGiven)::after,
a[href="/user/pequenopete"]:not(.upvoatsGiven)::after,
a[href="/user/TheodoreKent"]:not(.upvoatsGiven)::after,
a[href="/user/myopinionsdontmatter"]:not(.upvoatsGiven)::after,
a[href="/user/Truron"]:not(.upvoatsGiven)::after,
a[href="/user/Maui_no_can_aim"]:not(.upvoatsGiven)::after,
a[href="/user/hotelbrowanda"]:not(.upvoatsGiven)::after {
	background-position: 0 -740px;
}
/* philadelphia alt */ {
	background-position: 0 -760px;
}
/* pittsburgh */
a[href="/user/catfishman"]:not(.upvoatsGiven)::after,
a[href="/user/doctorshlomo"]:not(.upvoatsGiven)::after,
a[href="/user/aloe-ha"]:not(.upvoatsGiven)::after,
a[href="/user/Codyrl95"]:not(.upvoatsGiven)::after {
	background-position: 0 -780px;
}
/* pittsburgh alt */ {
	background-position: 0 -800px;
}
/* sandiego */
a[href="/user/Deadmeat"]:not(.upvoatsGiven)::after,
a[href="/user/iSam"]:not(.upvoatsGiven)::after,
a[href="/user/gman311"]:not(.upvoatsGiven)::after {
	background-position: 0 -820px;
}
/* sandiego alt */ {
	background-position: 0 -840px;
}
/* sanfrancisco */
a[href="/user/Engineered_To_Fail"]:not(.upvoatsGiven)::after,
a[href="/user/wilfra"]:not(.upvoatsGiven)::after,
a[href="/user/hoodclown"]:not(.upvoatsGiven)::after,
a[href="/user/18andover"]:not(.upvoatsGiven)::after,
a[href="/user/uncletootie"]:not(.upvoatsGiven)::after,
a[href="/user/Revelation6VIII"]:not(.upvoatsGiven)::after,
a[href="/user/yeediddy"]:not(.upvoatsGiven)::after,
a[href="/user/Santiago"]:not(.upvoatsGiven)::after {
	background-position: 0 -860px;
}
/* seattle */
a[href="/user/I_miss_Digg"]:not(.upvoatsGiven)::after,
a[href="/user/jard"]:not(.upvoatsGiven)::after,
a[href="/user/MvrnShkr"]:not(.upvoatsGiven)::after,
a[href="/user/WAVAW"]:not(.upvoatsGiven)::after,
a[href="/user/redditbelowsme"]:not(.upvoatsGiven)::after,
a[href="/user/zebrasaurous"]:not(.upvoatsGiven)::after,
a[href="/user/BlackstaffMacCleod"]:not(.upvoatsGiven)::after,
a[href="/user/BlastedToMoosh"]:not(.upvoatsGiven)::after,
a[href="/user/AcidicVagina"]:not(.upvoatsGiven)::after,
a[href="/user/mark132012"]:not(.upvoatsGiven)::after,
a[href="/user/Zoomski"]:not(.upvoatsGiven)::after,
a[href="/user/Zalincognito"]:not(.upvoatsGiven)::after,
a[href="/user/turtle_comet"]:not(.upvoatsGiven)::after,
a[href="/user/oglach"]:not(.upvoatsGiven)::after,
a[href="/user/Tenayden"]:not(.upvoatsGiven)::after,
a[href="/user/AlwaysSunnyInSeattle"]:not(.upvoatsGiven)::after,
a[href="/user/123GoHawks"]:not(.upvoatsGiven)::after,
a[href="/user/KHthe8th"]:not(.upvoatsGiven)::after {
	background-position: 0 -880px;
}
/* stlouis */
a[href="/user/zambeezy"]:not(.upvoatsGiven)::after,
a[href="/user/ratherfashingf11"]:not(.upvoatsGiven)::after,
a[href="/user/CONGLOM-O"]:not(.upvoatsGiven)::after,
a[href="/user/TisTheJMan"]:not(.upvoatsGiven)::after,
a[href="/user/Steebee"]:not(.upvoatsGiven)::after,
a[href="/user/meatballsacrifice"]:not(.upvoatsGiven)::after,
a[href="/user/dharasick"]:not(.upvoatsGiven)::after {
	background-position: 0 -900px;
}
/* stlouis alt */ {
	background-position: 0 -920px;
}
/* tampabay */
a[href="/user/shamari"]:not(.upvoatsGiven)::after,
a[href="/user/NOTTHEBEES"]:not(.upvoatsGiven)::after,
a[href="/user/Bolt"]:not(.upvoatsGiven)::after {
	background-position: 0 -940px;
}
/* tampabay alt */ {
	background-position: 0 -960px;
}
/* tennessee */ {
	background-position: 0 -980px;
}
/* tennessee alt */ {
	background-position: 0 -1000px;
}
/* washington */
a[href="/user/marvin_nash"]:not(.upvoatsGiven)::after,
a[href="/user/Record307"]:not(.upvoatsGiven)::after,
a[href="/user/BANGcake"]:not(.upvoatsGiven)::after,
a[href="/user/cranberrysaus"]:not(.upvoatsGiven)::after,
a[href="/user/brownsugarysphinx"]:not(.upvoatsGiven)::after,
a[href="/user/joelv"]:not(.upvoatsGiven)::after,
a[href="/user/Evarigan"]:not(.upvoatsGiven)::after,
a[href="/user/2dlapse"]:not(.upvoatsGiven)::after,
a[href="/user/BloodPool"]:not(.upvoatsGiven)::after,
a[href="/user/Amnesiablo"]:not(.upvoatsGiven)::after {
	background-position: 0 -1020px;
}
/* afc */ {
	background-position: 0 -1040px;
}
/* nfc */ {
	background-position: 0 -1060px;
}
/* nfllogo */
a[href="/user/pleasefeedthedino"]:not(.upvoatsGiven)::after,
a[href="/user/NFL_Mod"]:not(.upvoatsGiven)::after {
	background-position: 0 -1080px;
}
/* oilers */
a[href="/user/Spectre42"]:not(.upvoatsGiven)::after {
	background-position: 0 -1100px;
}
/* fireball */ 
 {
	background-position: 0 -1120px;
}

/* ===== Start goat flair ===== */
a[href="/user/pocketForceNapkin"]:not(.upvoatsGiven)::after,
a[href="/user/wellendowedduckling"]:not(.upvoatsGiven)::after,
a[href="/user/fat_memories"]:not(.upvoatsGiven)::after,
a[href="/user/Arotaes_Forgehammer"]:not(.upvoatsGiven)::after,
a[href="/user/Setnal"]:not(.upvoatsGiven)::after,
a[href="/user/Stansfield"]:not(.upvoatsGiven)::after,
a[href="/user/chakan2"]:not(.upvoatsGiven)::after,
a[href="/user/sethamphetamines"]:not(.upvoatsGiven)::after,
a[href="/user/wu-tang_clan"]:not(.upvoatsGiven)::after,
a[href="/user/IAmA_Scientist2"]:not(.upvoatsGiven)::after,
a[href="/user/ladygagadisco"]:not(.upvoatsGiven)::after,
a[href="/user/mbrookes"]:not(.upvoatsGiven)::after,
a[href="/user/49erFaithful"]:not(.upvoatsGiven)::after,
a[href="/user/abear"]:not(.upvoatsGiven)::after,
a[href="/user/Redeyedjedi"]:not(.upvoatsGiven)::after,
a[href="/user/Phantomshitter"]:not(.upvoatsGiven)::after,
a[href="/user/inthetimeofnick"]:not(.upvoatsGiven)::after,
a[href="/user/RobotVagina"]:not(.upvoatsGiven)::after,
a[href="/user/WarioLopez"]:not(.upvoatsGiven)::after,
a[href="/user/tonsor"]:not(.upvoatsGiven)::after,
a[href="/user/drackodelmal"]:not(.upvoatsGiven)::after,
a[href="/user/Duck_foot"]:not(.upvoatsGiven)::after,
a[href="/user/bplabombarda"]:not(.upvoatsGiven)::after,
a[href="/user/Johnnyinterwebs"]:not(.upvoatsGiven)::after,
a[href="/user/Mr_Weebles"]:not(.upvoatsGiven)::after,
a[href="/user/dualplains"]:not(.upvoatsGiven)::after,
a[href="/user/ALViper"]:not(.upvoatsGiven)::after,
a[href="/user/sLnTsRvC"]:not(.upvoatsGiven)::after,
a[href="/user/tentonaraft"]:not(.upvoatsGiven)::after,
a[href="/user/rosary505"]:not(.upvoatsGiven)::after,
a[href="/user/D-M-Remic"]:not(.upvoatsGiven)::after,
a[href="/user/JohnElway"]:not(.upvoatsGiven)::after,
a[href="/user/Awwhitney60"]:not(.upvoatsGiven)::after,
a[href="/user/herrojew"]:not(.upvoatsGiven)::after,
a[href="/user/CaMelGuY"]:not(.upvoatsGiven)::after,
a[href="/user/revfelix"]:not(.upvoatsGiven)::after,
a[href="/user/Daeavorn"]:not(.upvoatsGiven)::after,
a[href="/user/Cassiekin"]:not(.upvoatsGiven)::after,
a[href="/user/louhi"]:not(.upvoatsGiven)::after,
a[href="/user/Caddis"]:not(.upvoatsGiven)::after,
a[href="/user/Sureyado"]:not(.upvoatsGiven)::after,
a[href="/user/pembo210"]:not(.upvoatsGiven)::after,
a[href="/user/brdy"]:not(.upvoatsGiven)::after,
a[href="/user/Cornbread52"]:not(.upvoatsGiven)::after,
a[href="/user/TheRedBeard"]:not(.upvoatsGiven)::after,
a[href="/user/cheatch"]:not(.upvoatsGiven)::after {
	display: inline-block;				
    content: ""; 
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0px; 
    margin: 0px;  
    margin-left: 5px;
    background-color: transparent; 
    background-image: url("https://i.imgur.com/ZxiqyPJ.png"); 
    width: 40px; 
    height: 31px;
    vertical-align: middle;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url("https://i.imgur.com/ZxiqyPJ.png");
		 background-size: 40px 1209px;
	}
}

/* 49ers goat */
a[href="/user/49erFaithful"]:not(.upvoatsGiven)::after,
a[href="/user/Duck_foot"]:not(.upvoatsGiven)::after,
a[href="/user/bplabombarda"]:not(.upvoatsGiven)::after {
	background-position: 0 0;
}
/* bears goat */
a[href="/user/Maskedsaturn"]:not(.upvoatsGiven)::after,
a[href="/user/WarioLopez"]:not(.upvoatsGiven)::after {
	background-position: 0 -31px;
}
/* bengals goat */ {
	background-position: 0 -62px;
}
/* bills goat */ {
	background-position: 0 -93px;
}
/* broncos goat */
a[href="/user/rosary505"]:not(.upvoatsGiven)::after {
	background-position: 0 -124px;
}
/* broncos goat2 */
a[href="/user/Stansfield"]:not(.upvoatsGiven)::after,
a[href="/user/JohnElway"]:not(.upvoatsGiven)::after {
	background-position: 0 -155px;
}
/* browns goat */
a[href="/user/Sureyado"]:not(.upvoatsGiven)::after {
	background-position: 0 -186px;
}
/* browns goat2 */ {
	background-position: 0 -217px;
}
/* buccaneers goat */
a[href="/user/pembo210"]:not(.upvoatsGiven)::after {
	background-position: 0 -248px;
}
/* cardinals goat */ {
	background-position: 0 -279px;
}
/* cardinals goat2 */ {
	background-position: 0 -310px;
}
/* chargers goat */ 
a[href="/user/IAmA_Scientist2"]:not(.upvoatsGiven)::after {
	background-position: 0 -341px;
}
/* chiefs goat */ {
	background-position: 0 -372px;
}
/* chiefs goat2 */ {
	background-position: 0 -403px;
}
/* colts goat */
a[href="/user/sethamphetamines"]:not(.upvoatsGiven)::after,
a[href="/user/ladygagadisco"]:not(.upvoatsGiven)::after {
	background-position: 0 -434px;
}
/* cowboys goat */
a[href="/user/cheatch"]:not(.upvoatsGiven)::after,
a[href="/user/Cassiekin"]:not(.upvoatsGiven)::after,
a[href="/user/tentonaraft"]:not(.upvoatsGiven)::after {
	background-position: 0 -465px;
}
/* dolphins goat */
a[href="/user/TheRedBeard"]:not(.upvoatsGiven)::after {
	background-position: 0 -496px;
}
/* eagles goat2 */
a[href="/user/pocketForceNapkin"]:not(.upvoatsGiven)::after,
a[href="/user/abear"]:not(.upvoatsGiven)::after {
	background-position: 0 -527px;
}
/* falcons goat2 */ 
a[href="/user/Arotaes_Forgehammer"]:not(.upvoatsGiven)::after {
	background-position: 0 -558px;
}
/* giants goat */ {
	background-position: 0 -589px;
}
/* jaguars goat */
a[href="/user/Phantomshitter"]:not(.upvoatsGiven)::after {
	background-position: 0 -620px;
}
/* jaguars goat2 */ {
	background-position: 0 -651px;
}
/* jets goat */
a[href="/user/CaMelGuY"]:not(.upvoatsGiven)::after {
	background-position: 0 -682px;
}
/* lions goat */
a[href="/user/sLnTsRvC"]:not(.upvoatsGiven)::after {
	background-position: 0 -713px;
}
/* packers goat */
a[href="/user/wu-tang_clan"]:not(.upvoatsGiven)::after,
a[href="/user/Redeyedjedi"]:not(.upvoatsGiven)::after,
a[href="/user/tonsor"]:not(.upvoatsGiven)::after,
a[href="/user/mbrookes"]:not(.upvoatsGiven)::after,
a[href="/user/revfelix"]:not(.upvoatsGiven)::after,
a[href="/user/Awwhitney60"]:not(.upvoatsGiven)::after {
	background-position: 0 -744px;
}
/* panthers goat */
a[href="/user/Cornbread52"]:not(.upvoatsGiven)::after,
a[href="/user/RobotVagina"]:not(.upvoatsGiven)::after {
	background-position: 0 -775px;
}
/* panthers goat2 */ 
a[href="/user/inthetimeofnick"]:not(.upvoatsGiven)::after,
a[href="/user/Daeavorn"]:not(.upvoatsGiven)::after {
	background-position: 0 -806px;
}
/* patriots goat */ 
a[href="/user/Mr_Weebles"]:not(.upvoatsGiven)::after,
a[href="/user/ALViper"]:not(.upvoatsGiven)::after,
a[href="/user/Caddis"]:not(.upvoatsGiven)::after {
	background-position: 0 -837px;
}
/* raiders goat */ {
	background-position: 0 -868px;
}
/* rams goat */
a[href="/user/chakan2"]:not(.upvoatsGiven)::after,
a[href="/user/BirdLawyer"]:not(.upvoatsGiven)::after {
	background-position: 0 -899px;
}
/* ravens goat2 */ 
a[href="/user/wellendowedduckling"]:not(.upvoatsGiven)::after {
	background-position: 0 -930px;
}
/* redskins goat */
a[href="/user/dualplains"]:not(.upvoatsGiven)::after {
	background-position: 0 -961px;
}
/* saints goat */ {
	background-position: 0 -992px;
}
/* saints goat2 */ {
	background-position: 0 -1023px;
}
/* seahawks goat2 */
a[href="/user/brdy"]:not(.upvoatsGiven)::after,
a[href="/user/Setnal"]:not(.upvoatsGiven)::after,
a[href="/user/Johnnyinterwebs"]:not(.upvoatsGiven)::after {
	background-position: 0 -1054px;
}
/* steelers goat */
a[href="/user/D-M-Remic"]:not(.upvoatsGiven)::after,
a[href="/user/herrojew"]:not(.upvoatsGiven)::after {
	background-position: 0 -1085px;
}
/* texans goat */ {
	background-position: 0 -1116px;
}
/* titans goat */ {
	background-position: 0 -1147px;
}
/* vikings goat */
a[href="/user/fat_memories"]:not(.upvoatsGiven)::after,
a[href="/user/drackodelmal"]:not(.upvoatsGiven)::after,
a[href="/user/louhi"]:not(.upvoatsGiven)::after {
	background-position: 0 -1178px;
}
/* ==== End image flair ==== */

/* link flair */
.flair-rumor {
    display: inline-block;
}
.flair-confirmed {
    display: inline-block;
} 
.flair-meta {
    display: inline-block;
}       

a[href="/user/BirdLawyer"]:not(.upvoatsGiven)::after {
	display: inline-block;				
    content: ""; 
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0px; 
    margin: 0px;  
    margin-left: 5px;
    background-color: transparent; 
    background-image: url("http://s16.postimg.org/4qn9p3in5/ramlaw.png?noCache=1439583281"); 
    width: 40px; 
    height: 30px;
    vertical-align: middle;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url("http://s16.postimg.org/4qn9p3in5/ramlaw.png?noCache=1439583281");
		 background-size: 40px 30px;
	}
}
/* LawRam */
a[href="/user/BirdLawyer"]:not(.upvoatsGiven)::after {
	background-position: 0 0;
}

/* Bom's flair */

a[href="/user/BomTrady"]:not(.upvoatsGiven)::after {
	display: inline-block;				
    content: ""; 
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0px; 
    margin: 0px;  
    margin-left: 5px;
    background-color: transparent; 
    background-image: url("http://i.imgur.com/eZ9Zieb.png"); 
    width: 15px; 
    height: 40px;
    vertical-align: middle;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url("http://i.imgur.com/eZ9Zieb.png");
		 background-size: 15px 40px;
	}
}
/* Pig */
a[href="/user/BomTrady"]:not(.upvoatsGiven)::after {
	background-position: 0 0;
}


a[href="/user/CaMelGuY"]:not(.upvoatsGiven)::after {
	display: inline-block;				
    content: ""; 
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0px; 
    margin: 0px;  
    margin-left: 5px;
    background-color: transparent; 
    background-image: url("http://i.imgur.com/nFEL7O6.png"); 
    width: 40px; 
    height: 28px;
    vertical-align: middle;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url("http://i.imgur.com/nFEL7O6.png");
		 background-size: 40px 28px;
	}
}
/* Smokes */
a[href="/user/CaMelGuY"]:not(.upvoatsGiven)::after {
	background-position: 0 0;
}
a[href="/user/Maskedsaturn"]:not(.upvoatsGiven)::after {
	display: inline-block;				
    content: ""; 
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0px; 
    margin: 0px;  
    margin-left: 5px;
    background-color: transparent; 
    background-image: url("http://i.imgur.com/zgC58QN.png"); 
    width: 40px; 
    height: 28px;
    vertical-align: middle;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url("http://i.imgur.com/zgC58QN.png");
		 background-size: 40px 28px;
	}
}
/* Pig */
a[href="/user/Maskedsaturn"]:not(.upvoatsGiven)::after {
	background-position: 0 0;
}

/* a[href="/user/ShagginTurtles"]:not(.upvoatsGiven)::after */ {
	display: inline-block;				
    content: ""; 
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0px; 
    margin: 0px;  
    margin-left: 5px;
    background-color: transparent; 
    background-image: url("http://i.imgur.com/4Es4wiG.png"); 
    width: 40px; 
    height: 25px;
    vertical-align: middle;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url("http://i.imgur.com/4Es4wiG.png");
		 background-size: 40px 25px;
	}
}
/* Crown */
/* a[href="/user/ShagginTurtles"]:not(.upvoatsGiven)::after */ {
	background-position: 0 0;
}

/* Detroit Lions Bag Man */
a[href="/user/Bu11DawgNC"]:not(.upvoatsGiven)::after {
    display: inline-block;				
    content: ""; 
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0px; 
    margin: 0px;  
    margin-left: 5px;
    background-color: transparent; 
    background-image: url("http://i.imgur.com/nAHLEXb.png"); 
    width: 27px; 
    height: 35px;
    vertical-align: middle;
}
