/* ==== Game Thread images ==== */  
/*====Super Bowl====*/
.usertext a[href="http://www.nfl.com/gamecenter/2016020700/2015/POST22/panthers@broncos#menu=gameinfo&tab=preview"]{
        height: 540px;
    width: 100%;
    display: block;
    background: url(http://i.onionstatic.com/onion/5260/2/16x9/960.jpg) no-repeat center top; 
}  
