/* ==== Game Thread images ==== */  
/*====Super Bowl====*/
.usertext a[href="http://www.PackersvsColts.com"]{
        height: 200px;
    width: 100%;
    display: block;
    background: url(https://i.sli.mg/LTmAtz.png) no-repeat center top; 
}  
