/* ==== Game Thread images ==== */  
/*====Preseason====*/
.usertext a[href="http://www.Preseason.com"]{
        height: 280px;
    width: 100%;
    display: block;
    background: url(https://i.sli.mg/HhVzju.png) no-repeat center top; 
}  
